<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 광주 전남 지역 관광지 :::</title>
</head>
<body>
    <h3>{% include 'tourapp/include/top.html' %}</h3>
    <h3 style="background-color:rgb(200, 200, 200); font-size:xx-large; text-align:center;"> 호남 지역 관광지 둘러보기</h3>
    <hr/>
    <p>
        {% include 'tourapp/include/nav.html' %}
    </p>
    <hr/>
    <P>
        <ul>
            <li><b> 광주광역시 </b></li>
            <hr/>
            <li><b> 전라북도 </b></li>
            <hr/>
            <li><b> 전라남도 </b></li>
            <p>
                본문 내용
            </p>
            <hr/>
        </ul>
    </P>
    <hr/>

    <p>
        {% include 'tourapp/include/bottom.html' %}
    </p>
</body>
</html>